ul.posts
  li.posts__item
    .posts__textbox
      p.posts__text
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor sapien sed massa porta, nec posuere purus sollicitudin. Donec lacinia purus non quam semper dictum. Sed porttitor placerat efficiur.
    .posts__images
      h2.posts__title The hover title
      img.pictire(
        class="posts__pic"
        alt="The Hover Title"
        src="images/content/fakurian-design-1.jpg" 
        srcset="images/content/fakurian-design-1@2x.jpg 2x")
  li.posts__item
    .posts__textbox
      p.posts__text
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor sapien sed massa porta, nec posuere purus sollicitudin. Donec lacinia purus non quam semper dictum. Sed porttitor placerat efficiur. 
    .posts__images
      h2.posts__title The hover title
      img.pictire(
        class="posts__pic"
        alt="The Hover Title"
        src="images/content/fakurian-design-2.jpg" 
        srcset="images/content/fakurian-design-2@2x.jpg 2x")     